.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    normal;
    align-items: center;
    justify-content: center;
    
    
}
.banner{
    background-image: url(image/backround.png);
    background-position: cover;
    padding: 0px;
    margin: 0px;
    height: 698px;
    padding-bottom: 100px;

   
    
}
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 200px;
    
}
span{
    color: orangered;
}
.button{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 20px;
    color: aliceblue;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
   
}
.button:hover{

    background-color: orangered;
}
.logo-font{
    width: bold;
    font-size: 80px;
    color: #4E47FF;
}
.titel {
    font-weight: bold;
    font-size: 65px;
    color: black;
    text-align: center;
   
}

.div{
    text-align: center;
    margin: 154px 200px 200px 200px;
}
.action{
    display: flex;
    justify-content: space-between;
    margin: 100px 300px;
    gap: 20px;
    align-items: center;
}
.main-header{
    font-weight: bold;
    font-size: 42px;
}
.peragraph{
    font-size: 24px;
    color: #252432;
}
.picture{
    border-radius: 20px;

}
.joind{
    max-width: 1140px;
    margin: 0 auto;
    border-radius: 20px;
}
.section-title{
    padding-top: 50px;
    font-weight: bold;
    font-size: 38px;
    color: black;
    text-align: center;
   

}
.section-des{
    display: flex;
    justify-content:space-around ;
    margin-left: 200px;
    margin-right: 200px;
}
.sec-k{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
}
.backround-color{
    background-color: #bdbbfa;

}
.sec-p{
    font-size: 20px;
    color: #282727;
    padding-bottom: 50px;
}
.user{
    font-weight: bold;
    font-size: 42px;
    text-align: center;
    margin-top: 145px;
    margin-bottom: 50px;
}
.skills{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 100px 200px;

}
.skil{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgb(218, 216, 216);
    border-radius: 15px;
}
.div-inline{
    display: flex;
    gap: 30px;
}
.skill-titel{
    font-weight: bold;
    font-size: 24px;
}
.profile-info{
    font-weight: bold;
}
footer{
    background-color:#e2e1fd;
    padding:50px 150px;
    display: flex;
    gap: 100px;
}
.footer-title{
    font-weight: bold;
    font-size: 50px;
}
.footer-colums{
    width: 50%;
}
footer input[type="text"]{
    width: 100%;
    height: 60px;
    border-radius: 5px;
    background-color:white;
    display: block;
    border: none;
    margin-bottom: 24px;
    padding: 10px;
    font-size: 25px;
}
.lo{
    padding: 50px;
}
.go{
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    color: #4E47FF;
}
.classp{
    text-align: center;
    margin-bottom: 50px;
    color: #8987A1;
}
div ul{
    display: flex;
    gap: 50px;
    justify-content: center;
}
div ul li{
    
    list-style: none;
}
div ul li a{
    text-decoration: none;
}
label{
    font-size: 25px;
}
